{
    "presets": [
        [
            "next"
        ],
        [
            "next/babel"
        ]
    ],
    "plugins": [
        [
            "styled-components",
            {
                "ssr": true
            }
        ],
        [
            "@babel/plugin-proposal-do-expressions"
        ]
    ]
}